Source: python-opentelemetry-instrumentation-wsgi
Section: python
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 pybuild-plugin-pyproject,
 python3-all,
 python3-hatchling,
Standards-Version: 4.7.0
Homepage: https://github.com/open-telemetry/opentelemetry-python-contrib/tree/main/instrumentation/opentelemetry-instrumentation-wsgi
Rules-Requires-Root: no
Vcs-Git: https://github.com/Vitexus/opentelemetry-python-contrib.git -b debian-packaging-instrumentation-wsgi
Vcs-Browser: https://github.com/Vitexus/opentelemetry-python-contrib/tree/debian-packaging-instrumentation-wsgi

Package: python3-opentelemetry-instrumentation-wsgi
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-opentelemetry-api (>= 1.12),
 python3-opentelemetry-instrumentation (>= 0.64b0),
 python3-opentelemetry-semantic-conventions (>= 0.64b0),
 python3-opentelemetry-util-http (>= 0.64b0),
Description: WSGI Middleware for OpenTelemetry
 OpenTelemetry is a collection of tools, APIs, and SDKs used to instrument,
 generate, collect, and export telemetry data (metrics, logs, and traces).
 .
 This package provides automatic instrumentation for WSGI applications,
 used as the base for opentelemetry-instrumentation-flask and other
 WSGI-based framework instrumentations.
 .
 This package provides the Python 3 library.
